@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############## 01-HEADER Styles ########## */

header {
  /* background-color: aqua; */
  padding: 20px 140px;
  max-width: 1440px;
  
  margin: 0 auto;
  
}

.disFlex {
  display: flex;
}

.head-container {
  /* margin: 0px 140px; */
  /* border: 1px solid red; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 202px;
  min-height: 62px;
}

.school {
  margin-top: 15px;
  margin-bottom: 13px;
}
.top-logo {
  justify-content: center;
  /* border: 2px yellow solid; */
}

.nav-list {
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  font-size: 1.25rem;
  /* border: 1px solid rgb(0, 255, 34); */
  min-width: 387px;
  min-height: 30px;
}

.home {
  color: #fea301;
}

.about {
  color: #01acfd;
}

.facilities {
  color: rgba(5, 212, 223, 1);
}

.admission {
  color: rgba(93, 88, 239, 1);
}

.btn-contact {
  background-color: #fea301;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  opacity: 100%;
  width: 197px;
  height: 50px;
  border: 0;
  padding: 10px 10px;
  /* border: 2px rebeccapurple solid; */
}

.manubar-icon {
  display: none;
}

/* #######  02-BANNER #######*/

/* .banner-container {
  gap: 50px;
  min-width: 1159px;
  margin: 0 141px;

} */

.banner-container {
  gap: 50px;
  max-width: 1159px;
  margin: 0 auto;

}


.banner-info {
  margin: 122px auto;
  width: 640px;
  /* height: 331px; */
  /* border: 0.5px solid tomato; */
}

.banner-title {
  font-size: 3.5rem;
  width: 640px;
  margin-bottom: 24px;
  word-wrap: break-word;
  /* border: 1px solid blue; */
}
.Emp {
  color: #fea301;
}
.tv {
  color: #01acfd;
}

.banner-subtittle {
  font-size: 1.25rem;
}

.btn-enroll {
  background-color: #111111;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  opacity: 100%;
  width: 197px;
  height: 50px;
  margin-top: 24px;
  border: 0;
  padding: 10px 10px;
}

.hero-kid {
  width: 469px;
  height: auto;
  /* border: 1px solid purple; */
}



/* <!-- ########### 03-Standard Curriculum ########## --> */

.curiculum-section{
  /* border: 1px solid yellow; */
  background-image: url(../assets/bg.png);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.curri-title{
font-size: 2.88rem;
font-weight: bold;
text-align: center;
margin-bottom: 80px;
}


.curriculum-list{
  /* border: 1px solid green; */
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  width: 1160px;
  margin: 0 auto;

}

.kinder img{
  width: 137px;
  height: 137px;
  margin: 53px 115px 32px;
}

.curri-head{
  font-size: 1.57rem;
  font-weight: bold;
  margin-bottom: 34px;
}

.kinder{
  
  border-radius: 19px;
  text-align: center;
  width: 368px;
  background-image: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
  padding: 20px;
  box-shadow: 20px 0px 28px rgba(0, 0, 0, 0.05);
}


.para-font{
  font-size: 1rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
  margin-bottom: 34px;
}

.read-kinder{
  font-size: 1rem;
  font-weight: bold;
  color: rgba(100, 200, 255, 1);
  text-decoration: none;
}



.elementary img{
  width: 142px;
  height: 142px;
  margin: 53px 114px 32px;

}

.elementary {
  text-align: center;
  width: 368px;
  border-radius: 19px;
  background-image: linear-gradient(to bottom, #fff4dc, #ffffff);
  padding: 20px;
  box-shadow: 20px 0px 28px rgba(0, 0, 0, 0.05);
  /* border: 1px solid peru; */
}

.read-elem{
  font-size: 1rem;
  font-weight: bold;
  color: rgba(240, 170, 0, 1);
  text-decoration: none;

}

.middle img{
  width: 137px;
  height: 137px;
  margin: 53px 114px 32px;
}

.middle{
  text-align: center;
  width: 368px;
  border-radius: 19px;
  background-image: linear-gradient(to bottom, #F2E8FF, #ffffff);
  box-shadow: 20px 0px 28px rgba(0, 0, 0, 0.05);
  padding: 20px;
  /* border: 1px solid violet;  */
}

.read-middle{
  font-size: 1rem;
  font-weight: bold;
 color: rgba(135, 0, 255, 1);
  text-decoration: none;
}

.arrow-icons{
/* border: #01acfd 1px solid; */
justify-content: center;
gap: 26px;
margin-top: 80px;
max-width: 1440px;


}

.btn{
  border: none;
  background-color: #fea301;
  border-radius: 50%;
  color: #DEF5FF;
  width: 130px;
  
}
.prev{
margin: 60px 60px;
font-size: 20px;
}


.next{
  margin: 60px 60px;
  font-size: 20px;
}
 
.btn:hover{
  background-color: green;
  color: red;
  
}


/* ########## RESPONSIVE MEDIA QUERY ########  */

@media screen and (max-width: 391px) {
 /* ############## 01-HEADER Adjustment ########## */
  header {
    max-width: 389px;
    padding: 12px 16px;
    border: 0.5px solid #fea301;
    
  
  }

  .head-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
  }

  nav,
  .school,
  .btn-contact {
    display: none;
  }

  .manubar-icon {
    display: flex;
    height: 30px;
    width: 30px;
  }

  .top-logo img {
    max-width: 46px;
    max-height: 46px;
  }

  /* ############### Banner Adjustments ######### */

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
    margin: 8px 17px auto;
    min-width: 357px;
    height: auto;
    /* border: 1px dotted green; */
  }

  .hero-kid {
    width: 337px;
    margin: 20px 10.5px 0px;
    /* border: 1px solid blueviolet; */
  }
  .hero-kid img {
    width: 337px;
    height: 413px;
    /* border: 1px red solid; */
  }

  .banner-info {
    width: 357px;
    text-align: center;
    margin: 20px auto;
  }

  .banner-title {
    font-size: 2rem;
    width: 357px;
    margin-bottom: 20px;
    align-content: center;
  }

  .banner-subtittle {
    font-size: 0.875rem;
  }

  .btn-enroll {
    font-weight: 600;
    border-radius: 8px;
    opacity: 100%;
    width: 131px;
    height: 42px;
    padding: 10px 10px;
  }

/* <!-- ########### 03-Standard Curriculum ########## --> */

.curri-title{
  font-size: 1.63rem;
  margin-bottom: 20px;
  }
.curriculum-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 357px;
  
  
}

  .arrow-icons {
    display: none;
  }

  
    


}
